# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# build artifacts
.serverless
node_modules
.pytest_cache
.requirements.zip

# shhh, secrets. Or maybe just configs, who knows 🤷
.env

# ignore sample files
*.parquet