[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pytest = "*"
pyiceberg = {extras = ["s3fs"], version = "*"}

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
