[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest-xdist = "*"
pyiceberg = {extras = ["pyarrow"], version = "*"}
requests = "*"

[requires]
python_version = "3.9"
